<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	utilisateur : {{ app.user.username }}<br />
	roles : {% if is_granted('ROLE_USER') %}USER ; {%endif %} {% if is_granted('ROLE_MODERATEUR') %}MODERATEUR ; {%endif %} {% if is_granted('ROLE_ASSIST
ANCE') %}ASSISTANCE ; {%endif %} {% if is_granted('ROLE_ADMIN') %}ADMIN ; {%endif %} <br />

	{{ include("AppBundle::menu.html.twig") }}

        {% block body %}{% endblock %}
 
       {% block javascripts %}{% endblock %}
    </body>
</html>
