{% extends 'AcReimsCharteGraphiqueBundle::base-acreims.html.twig' %}

{% block body %}
	<h1>Erreur : Page introuvable</h1>
	<h2>Message = "{{ status_code }} {{ status_text }}".</h2>

	<h6><a href="{{ path('homepage') }}">Revenir à l'accueil de l'application</a></h6>

{% endblock %}

