<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>[{{ app_code }}]  - {{ app_nom }} : Votre demande d'accès à ECA a été refusée</title>
	</head>
	<body>
		Bonjour,
		<br />
		<p>
			Votre demande d'accès à la plateforme ECA a été refusé par l'équipe de modération pour le motif suivant :
			<br />
			<br />
			"{{ motif_refus }}"
		</p>
		Cordialement,<br/> 
		L'équipe de modération ECA.
	</body>
</html>
