<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>[{{ app_code }}]  - {{ app_nom }} : Vous devez refaire une demande d'accès à ECA car la charte à changée.</title>
	</head>
	<body>
		Bonjour,
		<br />
		<p>
			Vous avez demandé un accès à l'application ECA. Entre temps une nouvelle charte a été publiée. <br />
			Nous nous voyons obligés de vous demander de refaire une nouvelle demande d'accès à ECA en acceptant la nouvelle charte.<br/>
			<br />
			Valider la nouvelle charte : <a href="{{ serv_chart_eca }}/demande_utilisation">sur l'application {{ app_nom }}</a>
		</p>
		Cordialement,<br/> 
		L'équipe de modération ECA.
	</body>
</html>
