{% extends 'AppBundle:Default:base-profil-all.html.twig' %}

{% block body %}

	<table class='contour' width='70%' border='0' cellpading='4' cellspacing='8'>
		<tr class='ligneTitre'><th colspan="2" class='ligneTitre' align='center'>formulaire de demande d'utilisation de ECA</th></tr>

		<tr><td colspan="2" style='border-width: 1;border-color: #7966D0;border-bottom-style:dotted;height:10px;'></td></tr>
		<tr><td colspan="2" class='contour' align='center'><span style='text-decoration:underline;font-weight:bold;'>La demande d'utilisation de ECA sera étudiéé par le modérateur de l'application après validation de la charte</span></td></tr>

		<tr><td colspan="2" style='border-width: 1;border-color: #7966D0;border-bottom-style:dotted;height:10px;'></td></tr>
		<tr><td colspan="2" align='center'> TODO Ici la charte</td></tr>

		<tr><td colspan="2" style='border-width: 1;border-color: #7966D0;border-bottom-style:dotted;height:10px;'></td></tr>
		<tr class='ligneTitre'>
			<td align='center'>ACCEPTER<br />LA CHARTE</td>
			<td align='center'>REFUSER<br />LA CHARTE</td>
		</tr>

	</table>

{% endblock %}
