{% extends 'AppBundle:Default:base-profil-all.html.twig' %}

{% block body %}

	<table class='contour' width='70%' border='0' cellpading='4' cellspacing='8'>
		<tr class='ligneTitre'><th class='ligneTitre' align='center'>Demande d'utilisation de ECA</th></tr>

		<tr><td style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr><td class='contour' align='center'><span style='text-decoration:underline;font-weight:bold;'>Vous avez demandé l'utilisation de ECA.<br />Votre demande est en cours de modération</span></td></tr>

		<tr><td style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr>
			<td align='center'><form method="post" action="{{ path('etat_demande_utilisation') }}"><button type="submit" name="submit" value="annuler">Annuler ma demande</button></form></td>
		</tr>

	</table>

{% endblock %}
