{% extends 'AppBundle:Default:base-profil-all.html.twig' %}

{% block body %}

	<table class='contour' width='70%' border='0' cellpading='4' cellspacing='8'>
		<tr class='ligneTitre'><th class='ligneTitre' align='center'>Accueil</th></tr>

		<tr><td class='contour'>Bienvenue sur l'application de signature de la charte d'accès à l'application ECA</td></tr>

		<tr><td style='border-width: 1;border-color: #7966D0;border-bottom-style:dotted;height:10px;'></td></tr>
		<tr>
			<td class='contour' align='center'><h3>&nbsp;&nbsp;&nbsp;Votre accès ECA est : 
				{% if is_granted('ROLE_USER_INACTIF') %}INACTIF{%endif %} 
				{% if is_granted('ROLE_USER_ATTENTE_ACTIVATION') %}EN ATTENTE D'ACTIVATION{%endif %} 
				{% if is_granted('ROLE_USER_ACTIF') %}ACTIVE{%endif %} 
			</h3></td>
		</tr>

		<tr><td style='border-width: 1;border-color: #7966D0;border-bottom-style:dotted;height:10px;'></td></tr>
		<tr><td class='contour'><span style='text-decoration:underline;font-weight:bold;'>Paramètres</span></td></tr>
		<tr>
			<td class='contour'>&nbsp;&nbsp;&nbsp;Profil(s) dans l'application : 
				{% if is_granted('ROLE_USER') %}Utilisateur ; {%endif %} 
				{% if is_granted('ROLE_MODERATEUR') %}Modérateur ; {%endif %} 
				{% if is_granted('ROLE_ASSISTANCE') %}Assistance ; {%endif %} 
				{% if is_granted('ROLE_ADMIN') %}Administrateurs ; {%endif %}
			</td>
		</tr>

		<tr><td style='border-width: 1;border-color: #7966D0;border-bottom-style:dotted;height:10px;'></td></tr>
		<tr><td class='contour'><span style='text-decoration:underline;padding-left:5px;'>Fonctionnalités utilisateurs</span></td></tr>
		<tr><td class='contour'>
			&nbsp;&nbsp;- Consulter la charte<br>
			{% if is_granted('ROLE_USER_INACTIF') %}&nbsp;&nbsp;- Demander l'ouverture de mon compte sur ECA<br />{% endif %}
			{% if is_granted('ROLE_USER_ATTENTE_ACTIVATION') %}&nbsp;&nbsp;- Voir l'état de ma demande d'ouverture de compte sur ECA<br />{% endif %}
			{% if is_granted('ROLE_USER_ACTIF') %}
				&nbsp;&nbsp;- Desactiver mon accès ECA<br />
				&nbsp;&nbsp;- Demande augmentation quota<br />
			{% endif %}
		</td></tr>

		{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ASSISTANCE') or is_granted('ROLE_ADMIN')  %}
			<tr><td style='border-width: 1;border-color: #7966D0;border-bottom-style:dotted;height:10px;'></td></tr>
			<tr><td class='contour'><span style='text-decoration:underline;padding-left:5px;'>Fonctionnalités d'administration</span></td></tr>
			<tr><td class='contour'>
				&nbsp;&nbsp;- Consulter l'état des comptes<br>
				&nbsp;&nbsp;- Consulter les demandes de désactivation des comptes<br />
				{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN')  %}
					&nbsp;&nbsp;- Modérer les demandes d'utilisation<br />
					&nbsp;&nbsp;- Modérer les demandes d'augmentation de quota<br/>
				{% endif %}
				{% if is_granted('ROLE_ADMIN')  %}
					&nbsp;&nbsp;- Activer ou désactiver la gestion des quotas<br />
					&nbsp;&nbsp;- Publier la charte<br />
					&nbsp;&nbsp;- Gerer les annexes de la charte<br />
				{% endif %}

			</td></tr>
		{% endif %}

	</table>

{% endblock %}
