{% extends 'AppBundle:Default:base-profil-all.html.twig' %}

{% block body %}

	<table class='contour' width='70%' border='0' cellpading='4' cellspacing='8'>
		<tr class='ligneTitre'><th class='ligneTitre' align='center'>Accueil</th></tr>

		<tr><td class='contour'>&nbsp;&nbsp;Bienvenue sur l'application de signature de la charte d'accès à l'application ECA</td></tr>

		<tr><td style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr>
			<td class='contour' align='center'><h3>&nbsp;&nbsp;&nbsp;Votre accès ECA est : 
				{% if app.user.isEtatInactif() %}INACTIF{%endif %} 
				{% if app.user.isEtatModeration() %}EN ATTENTE DE MODERATION{%endif %} 
				{% if app.user.isEtatActif() %}ACTIF{%endif %} 
				{% if app.user.isEtatRevalidationCharte() %}EN ATTENTE DE VALIDATION DE LA CHARTE{%endif %} 
			</h3></td>
		</tr>

	</table>

{% endblock %}
