{% extends 'AppBundle:Default:base-profil-all.html.twig' %}

{% block body %}

	<table class='contour' width='70%' border='0' cellpading='4' cellspacing='8'>
		<tr class='ligneTitre'><th colspan="2" class='ligneTitre' align='center'>Modération de la demande d'accès à ECA</th></tr>

		<tr><td colspan="2" style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr><td colspan="2" class='contour' align='center'><span style='text-decoration:underline;font-weight:bold;'>TODO : username ici</span></td></tr>

		<tr><td colspan="2" style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr><td colspan="2" align='center'> TODO Formulaire ici</td></tr>

		{# <tr><td colspan="2" style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr>
			<td align='center'><form method="post" action="{{ path('moderer_demande_utilisation') }}"><button type="submit" name="submit" value="accepter">Accepter la charte</button></form></td>-->
		</tr> #}

	</table>

{% endblock %}
