.ligneCouleur1{
	background-color:#D3D3D3;
}
.ligneCouleur2{
	background-color:#A9A9A9;
}
.ligneCouleur3{
	background-color:palegreen;
}

.gras{
 	font-weight : bold;
 	font-size:13px;
}

.grisFonce{
	color: #333333;
}

#rectangle_arrondi 
{
	background-color:#FFFFFF;
	border:1px solid #93246f;
	padding:10px;
	/*arrondir les coins en haut à gauche et en bas à droite*/
	-moz-border-radius:10px 0;
	-webkit-border-radius:10px 0;
	border-radius:10px 0;

	width:900px;
	margin-left:auto; margin-right:auto;
}

table
{
	margin-left:auto; margin-right:auto;
}

table.contour
{
	background-color:f3f3f3;
	border-collapse: collapse;
	border-style:solid;
	border-color:#7966D0;
	border-width:1;
	margin:0;
	border-spacing:0px;
	padding:5px;
	width:850px;
	
	margin-left:auto; margin-right:auto;
}

table.encadrement
{
	background-color:#C0C0C0; /* fond gris foncé */
	
	margin-left:auto; margin-right:auto;
}

table.fond
{
	background-color:#EEEEEE; /* fond gris clair */
}

input.text100
{
	width:80px;
 }
 

.monSelect
{
	font-family: Courier New,Courier !important;
}
.monOption
{
	font-family: Courier New,Courier !important;
}

.select200
{
	width:200px;
}

.select400
{
	width:400px;
}

.ui-datepicker-week-end {
    display:none
}

img.image 
{
   vertical-align:middle;
}


span[data-tip]{
  border-bottom: 2px  #888;
  cursor: help;
}

[data-tip]{
  display: inline-block;
  position: relative;
}

[data-tip]:hover:before{
  content: attr(data-tip);
  position: absolute;
  padding: 0 8px;
  width: 350px;
  height: 56px;
  line-height: 28px;
  background-color: rgba(0, 145, 166, 1);
  left: -150px;
  top: -66px;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  /*white-space: nowrap;*/
  color: #fff;
  font-size: 11px;
}

[data-tip]:hover:after {
  content: "";
  position: absolute;
  border-top: 8px solid rgba(0, 145, 166, 1);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 0;
  top: -10px;
}
