# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # Base de données ChartECA
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~

    # Configuration LDAP
    ldapHost: 127.0.0.1 
    ldapPort: 389
    ldapRacine: 'o=gouv, c=fr'
    ldapReaderDn: 'uid=consult, ou=special users, o=gouv, c=fr'
    ldapReaderPw: 'xxxxxxxx'
    ldapWriterDn: 'uid=toto,ou=Special Users,o=gouv,c=fr'
    ldapWriterPw: 'xxxxxxxx'

    # Envoi de mails
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: 25
    mailer_user: ~
    mailer_password: ~

    # Si on utilise syslog pour logguer, on configure ici
    syslog.host: 127.0.0.1
    syslog.port: 514
    
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Configuration émission des mails d'erreurs critiques
    critique_from: contact@domain.com
    critique_to:  
        - 'error@my-domain.com'
        - 'error2@my-domain.com'
    critique_subject: '[ChartECA] Une erreur critique est survenue !'

    # Configuration émission des mails de notification
    notification_from: contact@domain.com

    # Adresse d'accès au serveur ECA et paramètres du webservice destiné à réaliser les opérations internes à owncloud (modification quota en particulier)
    adresse_eca: https://eca.ac-xxxxx.fr/owncloud
    ws_eca_chemin: ws_charteca/serveur.php
    ws_eca_token: '0123456789ABCDEF'

    # Adresse de déconnexion RSA
    rsaDeco: https://serveurChartECA.ac-xxxxx.fr/login/ct_logout.jsp

    # Lien vers la plateforme d'assistance
    lien_assistance: https://..........

    # Adresse de l'application ChartECA (pour permettre à twig de composer correctement l'adresse web de l'application depuis la commande app:cron)
    servChartECA: https://serveurChartECA.ac-xxxxx.fr/charteca

    # Nombre de jours de delai sir revalidation
    delai_revalidation: 15

    # Paramètre swiftmail sur serveur de développement et pré-prod
    dev_preprod_disable_delivery_mail: true
    dev_preprod_list_delivery_mail: 
        - 'toto@ac-xxxx.fr'
        - 'titi@ac-xxxx.fr'
